<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/user/home"
            style="font-family: 'Ravie', sans-serif; font-weight:bold; font-size: 24px; color: #014122;">Drip</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
            <form action="/user/search" method="post" id="searchForm">
                <div class="input-group">
                    <span class="border-success input-group-text custombtn text-white"><i
                            class="fa-solid fa-magnifying-glass"></i></span>
                            <input required type="search" id="Search" class="form-control border-success" style="color:#7a7a7a" name="query" <% if (typeof searchTerm !== 'undefined' && searchTerm !== null) { %>
                                value="<%-searchTerm%>"
                            <% } %> >
                                                     
                    <button class="btn text-white" style="background-color: #014122;" type="submit" onclick="searchProducts()">Search</button>
                </div>
            </form>
        </div>
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <div class="ms-auto d-none d-lg-block">
                <form action="/user/search" method="post" id="searchForm">
                    <div class="input-group">
                        <span class="border-success input-group-text custombtn text-white"><i
                                class="fa-solid fa-magnifying-glass"></i></span>
                                <input required type="search" id="Search" class="form-control border-success" style="color:#7a7a7a" name="query" <% if (typeof searchTerm !== 'undefined' && searchTerm !== null) { %>
                                    value="<%-searchTerm%>"
                                <% } %> >
                        <button class="btn text-white" style="background-color: #014122;" type="submit" onclick="searchProducts()">Search</button>
                    </div>
                </form>
            </div>
            <ul class="navbar-nav ms-auto customul">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase " aria-current="page" href="/user/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase " aria-current="page" href="/user/aboutus">ABOUT US</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto iconul">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="/user/cart"> <i class="fa-solid fa-cart-shopping fa-lg me-1"
                            style="color: #014122;"></i>
                            <% if (cartNo>0) { %>
                                <span class="position-absolute  start-25 translate-middle badge rounded-pill bg-danger ms-1">
                                    <%=cartNo%>
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                            <% } %>
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="/user/wallet"> <i class="fa-solid fa-wallet fa-lg me-1"
                        style="color: #014122;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="/user/wishlist"> <i class="fa-solid fa-heart fa-lg me-1"
                            style="color: #014122;"></i>
                           <% if (wishlistNo>0) { %>
                            <span class="position-absolute  start-25 translate-middle badge rounded-pill bg-danger ms-1">
                                <%-wishlistNo%>
                                <span class="visually-hidden">unread messages</span>
                              </span>
                           <% } %>
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="/user/profile/<%=userData.id%>"> <i
                            class="fa-solid fa-circle-user fa-lg me-1" style="color: #014122;"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const searchForm = document.getElementById('searchForm');
  
      searchForm.addEventListener('submit', function (event) {
        event.preventDefault();
  
        const searchInput = document.getElementById('search');
        const searchTerm = searchInput.value.trim();
        console.log(searchTerm, 'searchitem');
  
        if (searchTerm !== '') {
          fetch('/user/search', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `query=${encodeURIComponent(searchTerm)}`,
          })
          .then(response => response.json())
          .then(data => {
            console.log(data);
          })
          .catch(error => {
            console.error('Error:', error);
          });
        }
      });
    });
  </script>