<%- include('../partials/admin-head.ejs') %>
<style>
  .dataTables_wrapper .dataTables_filter {
      text-align: center;
      margin-bottom: 20px; 
  }

  .dataTables_wrapper .dataTables_filter label {
      display: inline-block;
      text-align: left;
  }

  .dataTables_wrapper .dataTables_filter input[type="search"] {
      display: inline-block;
      text-align: left;
      border-radius: 5px;
      padding-left: 2em;
      background-image: url('/images/lens.jpg');
      background-size: 1.5em;
      background-repeat: no-repeat;
      background-position: center left;
      width: 80%; 
      max-width: 300px; 
  }

  .dataTables_wrapper .dataTables_filter input[type="search"]::-webkit-search-cancel-button {
      appearance: none;
      height: 1.5em;
      width: 1.5em;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>') center/contain no-repeat; /* Font Awesome clear icon */
      cursor: pointer;
  }

  .strike-red {
    color: red;
    text-decoration: line-through;
}
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col min-vh-100 p-4">
      <!-- toggler -->
      <button
        class="btn float-end btn btn-success"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvas"
        role="button"
      >
        MENU
      </button>
      

      <% if (orderData.length<=0) { %>
       <h1 class="text-center mt-5">No Orders To Manage!</h1>
      <% } %>
    
      <% if (orderData.length>0) { %>
        <div class="row float-start">
          <div class="col">
            <h3 class="mt-3 text-start ms-3">Order Details</h3>
          </div>
        </div>
        <table id="orderTable" class="table table-responsive mt-5 table-hover table-bordered">
          <thead class="table-dark">
            <tr class="text-center">
              <th>No</th>
              <th>Date</th>
              <th>BuyerName</th>
              <th>Product</th>
              <th>Item</th>
              <th>Size</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Payment</th>
              <th>Total-Qty</th>
              <th>TotalPrice</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="orderTableBody">
            <% let i=0; %> <% orderData.forEach((order)=> { %>
  
            <tr class="text-start">
              <td>
                <strong> <%=++i%> </strong>
              </td>
              <td>
                <strong> <%=order.orderedAt%> </strong>
              </td>
              <td>
                <strong> <%=order.buyerName%> </strong>
              </td>
              <td>
                <% productData[i - 1].forEach((element)=> { %>
                <img
                  src="/<%-element.productImage[0]%>"
                  style="width: 50px; height: 50px"
                />
                <% }) %>
              </td>
              <td>
                <% productData[i - 1].forEach((element)=> { %>
                <strong class="<%= element.status ? '' : 'strike-red' %>"> <%=element.productsName%> </strong> <br />
                <% }) %>
              </td>
              <td>
                <% productData[i - 1].forEach((element)=> { %>
                <strong class="<%= element.status ? '' : 'strike-red' %>"> <%=element.size%> </strong> <br />
                <% }) %>
              </td>
              <td>
                <% productData[i - 1].forEach((element)=> { %>
                <strong class="<%= element.status ? '' : 'strike-red' %>">₹<%=element.productsPrice%></strong> <br />
                <% }) %>
              </td>
              <td>
                <% productData[i - 1].forEach((element)=> { %>
                <strong class="<%= element.status ? '' : 'strike-red' %>"> <%=element.quantity%> </strong
                ><small class="text-muted">nos</small> <br />
                <% }) %>
              </td>
              <td>
                <strong> <%=order.paymentMethod%> </strong>
              </td>
              <td>
                <strong> <%=order.totalQuantity%> </strong
                ><small class="text-muted">nos</small>
              </td>
              <td>
                <strong>₹ <%=order.totalPrice%></strong>
              </td>
              <td
                class="<% if (order.orderStatus === 'Pending') { %> text-warning <% } else if (order.orderStatus === 'Processing') { %> text-info <% } else if (order.orderStatus === 'Placed') { %> text-primary <% } else if (order.orderStatus === 'Shipped') { %> text-secondory <% } else if (order.orderStatus === 'Delivered') { %> text-success <% } else if (order.orderStatus === 'Returned') { %> text-warning <% } else if (order.orderStatus === 'Cancelled') { %> text-danger <% } %>"
              >
                <i class="fas fa-check-circle fa-shake"></i
                ><strong> <%= order.orderStatus %> </strong>
              </td>
  
              <td>
                <% if (order.orderStatus==='Delivered' ) { %>
                <strong class="text-success">Order Delivered</strong>
                <% } else if (order.orderStatus==='Cancelled' ) { %>
                <strong class="text-danger">User canceled the order</strong>
                <% }else if (order.orderStatus==='Returned' ) { %>
                  <strong class="text-primary">User Returned This Order</strong>
                <% }
                 else { %>
                <div class="dropdown">
                  <button
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Change Order Status
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% if (order.orderStatus=="Pending" ) { %>
                    <li value="Processing">
                      <a
                        class="dropdown-item"
                        onclick="orderProcess('<%-order._id%>','Processing')"
                      >
                        <i class="fas fa-spinner text-success"></i>
                        Processing
                      </a>
                    </li>
                    <% } %> <% if (order.orderStatus=="Processing" ) { %>
                    <li value="Placed">
                      <a
                        class="dropdown-item"
                        onclick="orderPlace('<%-order._id%>','Placed')"
                      >
                        <i class="fas fa-shopping-basket text-success"></i>
                        Placed
                      </a>
                    </li>
                    <% } %> <% if (order.orderStatus=="Placed" ) { %>
                    <li value="Shipped" aria-disabled="true">
                      <a
                        class="dropdown-item"
                        onclick="orderShip('<%-order._id%>','Shipped')"
                      >
                        <i class="fa-solid fa-truck text-success"></i>
                        Shipped
                      </a>
                    </li>
                    <% } %> <% if (order.orderStatus=="Shipped" ) { %>
                    <li
                      value="Delivered"
                      onclick="orderDelivery('<%-order._id%>','Delivered')"
                    >
                      <a class="dropdown-item">
                        <i class="fas fa-check-circle text-success fw-bold"></i>
                        Delivered
                      </a>
                    </li>
                    <% } %>
                  </ul>
                </div>
                <% } %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      
          <ul class="pagination border-0 text-end">
            <li class="page-item" id="prevPage">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" id="nextPage">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
      <% } %>
     
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  function orderProcess(orderId, status) {
    Swal.fire({
      title: "Are you sure?",
      text: "Do you want to update the order status?",
      icon: "question",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, update it!",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          type: "POST",
          url: "/admin/order/process/" + orderId,
          data: {
            orderId: orderId,
            status: status,
          },
          success: (response) => {
            if (response.updateStatus) {
              location.reload();
            }

            Swal.fire({
              icon: "success",
              title: "Success!",
              text: "Order status updated successfully.",
              showConfirmButton: false,
              timer: 1500,
            });
          },
          error: function (xhr, status, error) {
            console.error("Error updating order status:", error);
            Swal.fire({
              icon: "error",
              title: "Error!",
              text: "Failed to update order status.",
              showConfirmButton: false,
              timer: 1500,
            });
          },
        });
      }
    });
  }

  function orderPlace(orderId, status) {
    Swal.fire({
      title: "Are you sure?",
      text: "Do you want to update the order placement?",
      icon: "question",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, update it!",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          type: "POST",
          url: "/admin/order/place/" + orderId,
          data: {
            orderId: orderId,
            status: status,
          },
          success: (response) => {
            if (response.updateStatus) {
              location.reload();
            }

            Swal.fire({
              icon: "success",
              title: "Success!",
              text: "Order placement updated successfully.",
              showConfirmButton: false,
              timer: 1500,
            });
          },
          error: function (xhr, status, error) {
            console.error("Error updating order placement:", error);
            Swal.fire({
              icon: "error",
              title: "Error!",
              text: "Failed to update order placement.",
              showConfirmButton: false,
              timer: 1500,
            });
          },
        });
      }
    });
  }

  function orderShip(orderId, status) {
    Swal.fire({
      title: "Are you sure?",
      text: "Do you want to update the order order as shipped?",
      icon: "question",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, update it!",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          type: "POST",
          url: "/admin/order/ship/" + orderId,
          data: {
            orderId: orderId,
            status: status,
          },
          success: (response) => {
            if (response.updateStatus) {
              location.reload();
            }

            Swal.fire({
              icon: "success",
              title: "Success!",
              text: "Order shipped updated successfully.",
              showConfirmButton: false,
              timer: 1500,
            });
          },
          error: function (xhr, status, error) {
            console.error("Error updating order shipped:", error);
            Swal.fire({
              icon: "error",
              title: "Error!",
              text: "Failed to update order shipment.",
              showConfirmButton: false,
              timer: 1500,
            });
          },
        });
      }
    });
  }

  function orderDelivery(orderId, status) {
    Swal.fire({
      title: "Are you sure?",
      text: "Do you want to update the order order as Delivered?",
      icon: "question",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, update it!",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          type: "POST",
          url: "/admin/order/delivery/" + orderId,
          data: {
            orderId: orderId,
            status: status,
          },
          success: (response) => {
            if (response.updateStatus) {
              location.reload();
            }

            Swal.fire({
              icon: "success",
              title: "Success!",
              text: "Order delivered updated successfully.",
              showConfirmButton: false,
              timer: 1500,
            });
          },
          error: function (xhr, status, error) {
            console.error("Error updating order shipped:", error);
            Swal.fire({
              icon: "error",
              title: "Error!",
              text: "Failed to update order deliverd.",
              showConfirmButton: false,
              timer: 1500,
            });
          },
        });
      }
    });
  }
</script>

<script>
  function getStatusColor(status) {
    switch (status) {
      case "Pending":
        return "text-warning"; 
      case "Processing":
        return "text-info"; 
      case "Placed":
        return "text-primary"; 
      case "Shipped":
        return "text-success"; 
      case "Delivered":
        return "text-secondary"; 
      case "Returned":
        return "text-danger"; 
      case "Cancelled":
        return "text-muted";
      default:
        return ""; 
    }
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tableBody = document.getElementById("orderTableBody");
    const rows = tableBody.getElementsByTagName("tr");
    const rowsPerPage = 5;
    let currentPage = 1;

    function showRows() {
      const startIndex = (currentPage - 1) * rowsPerPage;
      const endIndex = startIndex + rowsPerPage;

      for (let i = 0; i < rows.length; i++) {
        if (i >= startIndex && i < endIndex) {
          rows[i].style.display = "table-row";
        } else {
          rows[i].style.display = "none";
        }
      }
    }

    function updatePagination() {
      const prevPageBtn = document.getElementById("prevPage");
      const nextPageBtn = document.getElementById("nextPage");

      if (currentPage === 1) {
        prevPageBtn.classList.add("disabled");
      } else {
        prevPageBtn.classList.remove("disabled");
      }

      if (currentPage === Math.ceil(rows.length / rowsPerPage)) {
        nextPageBtn.classList.add("disabled");
      } else {
        nextPageBtn.classList.remove("disabled");
      }
    }

    function goToPrevPage() {
      if (currentPage > 1) {
        currentPage--;
        showRows();
        updatePagination();
      }
    }

    function goToNextPage() {
      if (currentPage < Math.ceil(rows.length / rowsPerPage)) {
        currentPage++;
        showRows();
        updatePagination();
      }
    }

    showRows();
    updatePagination();

    document.getElementById("prevPage").addEventListener("click", goToPrevPage);
    document.getElementById("nextPage").addEventListener("click", goToNextPage);
  });
</script>



<%- include('../partials/admin-foot.ejs') %>
