<%- include('../partials/user-head.ejs') %>
    <%- include('../partials/user-nav.ejs') %>


        <!-- Open product-details -->
        <section>
            <div class="container pb-5">
                <div class="row">
                    <div class="col-lg-5 mt-5">
                        <div class="card mb-3">
                            <img class="card-img img-fluid selected-image" src="/<%=productData.images[0]%>"
                                alt="Card image cap" id="selected-image">
                        </div>
                        <div class="row">

                            <!--Start Carousel Wrapper-->
                            <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item"
                                data-bs-ride="carousel">
                                <!--Start Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <% productData.images.forEach((image,index)=> { %>
                                                <div class="col-3 thumbnail-image-container"
                                                    data-index="<%= index + 1 %>">

                                                    <img class="border card-img img-fluid .product-img-link thumbnail-image"
                                                        src="/<%= image %>" alt="Product Image 1">

                                                </div>
                                                <% }) %>

                                        </div>
                                    </div>
                                    <!--/.First slide-->
                                </div>
                                <!--End Slides-->
                            </div>
                            <!--End Carousel Wrapper-->

                        </div>
                    </div>
                    <!-- col end -->
                    <div class="col-lg-7 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="h2" style="font-family: 'Ravie', sans-serif; font-weight:bold; color: #014122;">
                                    <%=productData.title%>
                                </h1>
                                <p class="h3 py-2">₹<%=productData.sellingprice%> <% if (productData.sellingprice<productData.mrp) { %>
                                    <strike class="py-2 text-danger">₹<%-productData.mrp%></strike>
                                <% } %></p>
                                <% if (productData.discountprice>0&&productData.categorydiscount>0) { %>
                                    <p class="py-2"><% if (productData.discountprice>0) { %>
                                        You save <strong class="text-success">₹<%-productData.discountprice+productData.categorydiscount%></strong> on <strong><%-productData.title%></strong>
                                    <% } %> <br><% if (productData.categorydiscount>0) { %>
                                     plus extra <strong class="text-success">₹<%-productData.categorydiscount%></strong> off on category <%-productData.categoryName%>
                                    <% } %></p>
                                <% } %>

                                <% if (productData.discountprice>0&&productData.categorydiscount<=0) { %>
                                 <p class="py-2">You save <strong class="text-success">₹<%-productData.discountprice+productData.categorydiscount%></strong> on <strong><%-productData.title%></strong></p>
                                <% } %>

                                <% if (productData.discountprice<=0&&productData.categorydiscount>0) { %>
                                    <p class="py-2">You save <strong class="text-success">₹<%-productData.categorydiscount%></strong> on category <strong><%-productData.categoryName%></strong></p>
                                <% } %>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <h6>Brand:</h6>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-muted"><strong>
                                                <%=productData.brandName%>
                                            </strong></p>
                                    </li>
                                    <br>
                                    <li class="list-inline-item">
                                        <h6>Category:</h6>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-muted"><strong>
                                                <%=productData.categoryName%>
                                            </strong></p>
                                    </li>
                                </ul>

                                <h6>Description:</h6>
                                <p>
                                    <%=productData.description%>
                                </p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <h6>Avaliable Color :</h6>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-muted"><strong>
                                                <%=productData.productColor%>
                                            </strong></p>
                                    </li>
                                </ul>
                                <form action="/user/add/cart/<%=productData._id%>" method="post">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <h6>Avaliable Size :</h6>
                                        </li>
                                        <li class="list-inline-item">
                                            <%productData.varient.forEach((data)=> { %>
                                                <input name="size" type="radio" value="<%=data.size%>" required <% if (data.quantity<=0) { %>
                                                 disabled
                                                <% } %>>
                                                <%=data.size%>
                                                <% }) %>
                                        </li>
                                    </ul>
                                   
                                    <div class="row pb-3">
                                        <div class="col d-grid">
                                            <button class="btn btn-success  rounded-pill">Add to cart</button>
                                        </div>
                                </form>
                               <form action="/user/wishlist/add/<%-productData._id%>" method="post" class="mt-4">
                                <div class="col d-grid">
                                    <button class="btn btn-success  rounded-pill" type="submit">Add to wishlist</button>
                                </div>
                               </form>
                            </div>
                           

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- Close  product-details -->


        <!-- Start related-product -->
       <% if (relateData.length>0) { %>
        <section class="py-5">
            <div class="container">
                <div class="row text-left p-2 pb-3">
                    <h4>Related Products</h4>
                </div>

                <div class="row custom-a">
                    <% relateData.forEach((data)=> { %>


                        <div class="col d-flex justify-content-around flex-wrap col-lg-3">
                            <div class="custom-card-container ms-5 mt-5 position-relative">
                                <form action="/user/wishlist/add/<%-data._id%>" method="post" class="position-relative">
                                    <button type="submit" class="btn custom-icon-heart position-absolute top-0 end-0 py-2 px-2" aria-label="Add to Wishlist">
                                        <i class="fa-regular fa-heart"></i>
                                    </button>
                                </form>
                                <a href="/user/product/details/<%-data.id%>">
                                    <img class="img-fluid card-img-top" src="/<%=data.images[0]%>" alt="Card image cap" style="height: 190px; width: 210px;" >
                                </a>
                                <div class="custom-additional-info ">
                                    <a href="/user/product/details/<%-data.id%>">
                                        <p><%=data.title%></p>
                                    </a>
                                    <p class="custom-p"><% if (data.sellingprice==data.mrp) { %>
                                        <strong>₹<%=data.mrp%></strong>
                                    <% } %><% if (data.sellingprice<data.mrp) { %>
                                     <strong><strike class="text-danger"><%-data.mrp%></strike> <strong class="text-success"><%-data.sellingprice%></strong></strong> 
                                    <% } %>
                                      <% if (data.sellingprice < data.mrp) { %>
                                        | <span class="text-success fw-bold">Offer</span>
                                    <% } %></p>
                                </div>
                            </div>
                        </div>


                        <% }) %>
                </div>



            </div>
        </section>
       <% } %>

        <%- include('../partials/user-foot.ejs') %>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.1/jquery-migrate.min.js"
                integrity="sha512-KgffulL3mxrOsDicgQWA11O6q6oKeWcV00VxgfJw4TcM8XRQT8Df9EsrYxDf7tpVpfl3qcYD96BpyPvA4d1FDQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
                integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <!-- ElevateZoom CDN -->
   <link rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

<style>
   .zoomContainer {
       overflow: hidden;
       position: relative;
   }

   .zoomLens {
       border: 2px solid #aaa;
       cursor: crosshair;
   }

   .zoomWindow {
       background: #fff;
       border: 0px solid #aaa;
       box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
   }
</style>

<script>
   $(document).ready(function () {
       $(".thumbnail-image-container").click(function () {
           var newImageSrc = $(this).find("img").attr("src");
           $("#selected-image").attr("src", newImageSrc);
           initializeImageZoom();
       });

       initializeImageZoom();
   });

   function initializeImageZoom() {
       $('#selected-image').elevateZoom({
           zoomType: "inner",
           cursor: "crosshair",
           responsive: true, 
           borderSize: 0, 
           easing: true, 
           gallery: 'multi-item-example', 
           galleryActiveClass: 'active', 
           lensBorderSize: 1, 
           lensShape: 'round', 
           containLensZoom: true
       });
   }
</script>

<script>

</script>

            