<%- include('../partials/user-head.ejs') %>
    <%- include('../partials/user-nav.ejs') %>
    <style>
       ul li i{
        color: #014122;
       }
       ul li:hover{
        cursor: pointer;
       }
       .csi i{
        color: #014122;
       }
    </style>
        <section style="background-color: #fff;">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="<%= userData.profilePhoto ? '/profileImages/' + userData.profilePhoto : '/images/profile.jpg' %>"
                                    alt="avatar" class="rounded-circle img-fluid" style="width: 148px; height: 148px;">

                                <div class="d-flex justify-content-center mt-3">
                                    <label for="imageInput" class="btn btn-rounded" style="background-color: #014122; color: #fff;">
                                        choose File
                                        <input type="file" id="imageInput" name="profileimage" accept="image/*"
                                            style="display: none;" onchange="uploadprofiepic(event)">
                                    </label>
                                </div>
                                <h5 class="my-3" style="font-family: 'Ravie', sans-serif;">
                                    <%=userData.username%>
                                </h5>

                            </div>
                        </div>

                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3"
                                        onclick="window.location.href='/user/order/details'">
                                        <i class="fa-solid fa-box-open"></i>
                                        <p class="mb-0">My Orders</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3"
                                        onclick="window.location.href='/user/cart'">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        <p class="mb-0">Cart</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3"
                                        onclick="window.location.href='/user-wish'">
                                        <i class="fa-solid fa-heart"></i>
                                        <p class="mb-0">Whislist</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3"
                                        onclick="window.location.href='/user/address/book'">
                                        <i class="fa-solid fa-address-book"></i>
                                        <p class="mb-0">Address Book</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3"
                                    onclick="window.location.href='/user/address/book'">
                                    <i class="fa-solid fa-clock-rotate-left"></i>
                                    <p class="mb-0">My Returns</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3"
                                onclick="window.location.href='/user/address/book'">
                                <i class="fa-solid fa-circle-xmark"></i>
                                <p class="mb-0">My Cancellations</p>
                            </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3"
                                        onclick="window.location.href='/user/logout'">
                                        <i class="fa-solid fa-arrow-right-from-bracket text-danger "></i>
                                        <p class="mb-0">Log Out</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 csi">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="text-muted mb-0">User Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class=" mb-0" >
                                            <%=userData.username%>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="text-muted mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class=" mb-0">
                                            <%=userData.email%>
                                        </p>
                                    </div>
                                </div>

                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="text-muted mb-0">Profile Settings</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="/user/edit/profile/<%-userData.id%>"
                                            class="text-dark text-decoration-none">
                                            <i class="fa-solid fa-gear"></i>
                                            <strong>Edit Profile</strong>
                                        </a>
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="text-muted mb-0">Wallet</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="/user/Wallet"
                                            class="text-dark text-decoration-none">
                                            <i class="fa-solid fa-wallet"></i>
                                            <strong>My Wallet</strong>
                                        </a>
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="text-muted mb-0">My Refferal Code</p>
                                    </div>
                                    <div class="col-sm-9">
                                           <% if (userData.refferalcode) { %>
                                            <i class="fa fa-gift text-success" aria-hidden="true"></i>
                                                <input class="border-0 text-dark fw-bold w-50"  type="text" id="textToCopy" value="http://localhost:4000/user/signup?ref=<%-userData.refferalcode%>" readonly>
                                            <a  onclick="copyToClipboard()" class="ms-2">
                                                <i class="fa-solid fa-copy  fa-xl text-success"></i>
                                            </a>
                                           <% } %>
                                            <% if (!userData.refferalcode) { %>
                                                    <button  class="btn btn-success" onclick="generateRefferalCode('<%-userData._id%>')"><i class="fa-solid fa-plus"></i> Generate Refferalcode</button>
                                            <% } %>
                                            <a href="/user/refer/learnmore" class="btn btn-success ms-5">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body p-0">
                                <div class="container mt-3">
                                      <div class="card testimonial-card mt-2 mb-3">
                                        <div class="card-up aqua-gradient"></div>
                                        <div class="avatar mx-auto white">
                                          <img src="/images/Coin-Drip.jpg" class="rounded-circle img-fluid"
                                            alt="woman avatar" >
                                        </div>
                                        <div class="card-body text-center">
                                          <h4 class="card-title font-weight-bold"><strong style="font-family: 'Ravie', sans-serif; color: #014122;">Drip</strong>Coin</h4>
                                          <% if (userData.dripcoins>0) { %>
                                            <h5><strong>Balance:</strong><%-userData.dripcoins%> coins</h5>
                                          <% } %>

                                          <% if (userData.dripcoins<=0) { %>
                                            <h5 style="color: #014122;">Shop Now And Earn Drip Coins</h5>
                                          <% } %>
                                          
                                          
                                          <hr>
                                          <a href="" class="btn text-white" style="background-color: #014122;">Redeem Now</a>
                                          <a href="/user/drip/coins" class="btn text-white" style="background-color: #014122;">Learn More</a>
                                        </div>
                                      </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../partials/user-foot.ejs') %>

            <script>
                function uploadprofiepic(event) {
                    const fileInput = event.target;
                    if (fileInput.files && fileInput.files[0]) {

                        const formData = new FormData();
                        formData.append('profileimage', fileInput.files[0]);
                        fetch('/user/upload/profileImage', {
                            method: 'POST',
                            body: formData,
                        })
                            .then(res => {
                                if (res.ok) {
                                    console.log("File uploaded successfully");
                                    window.location.reload();
                                } else {
                                    console.error("Upload failed");
                                }
                            })
                            .catch(err => console.error('Error uploading files', err));
                    }
                }
            </script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>

<script>
    function generateRefferalCode(userId) {
        Swal.fire({
            title: 'Generate Refferal Code',
            text: 'Are you sure you want to generate a refferal code?',
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, generate it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/user/generate/refferalcode/${userId}`,
                    method: 'POST',
                    success: function (data) {
                        if (data.success) {
                            Swal.fire(
                                'Genarated!',
                                'Your reffaral code has been genarated.',
                                'success'
                            ).then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire(
                                'Error!',
                                'There was an error genarating the code.',
                                'error'
                            );
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'An error occurred. Please try again later.',
                        });
                    }
                });
            }
        });
    }
</script>

<script>
    function copyToClipboard() {
        const textToCopy = document.getElementById('textToCopy').value;

        navigator.clipboard.writeText(textToCopy)
            .then(() => {
                console.log('Code copied to clipboard:', textToCopy);

                Swal.fire({
                    icon: 'success',
                    title: 'Refferal Code Copied!',
                    text: textToCopy,
                });
            })
            .catch(err => {
                console.error('Unable to copy text to clipboard', err);

                Swal.fire({
                    icon: 'error',
                    title: 'Error Copying Text',
                    text: 'Please try again.',
                });
            });
    }
</script>